# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.env
.venv
*.egg-info/
backend/__pycache__/
backend/*.pyc
collector/__pycache__/
collector/*.pyc

# Node.js & 前端
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

# VSCode
.vscode/

# 数据库文件
*.db
monitor.db

# 日志文件
*.log

# 操作系统文件
.DS_Store
Thumbs.db

# 其他编辑器临时文件
*.swp
*.swo 